<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionTestSuite">
    <test name="SignUp">
        <classes>
            <class name="gui.SignUpTest" />
        </classes>
    </test>
    <test name="SignIn">
        <classes>
            <class name="gui.SignInTest" />
        </classes>
    </test>
</suite>